.logo {
    width: 200px;
    height: auto;
    fill: #DCF763;
}

.navHeader {
    display: flex;
    align-items: row;
    justify-content: space-between;
    margin: 20px;
}

.Navegador {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 60%;
}

.perfilBuscador {
    display: flex;
    align-items: center;
    
}

.enlaces a {
    text-decoration: none;
    margin: 0px 15px;
    color: #F1F2EE;
    font-family: sans-serif;
    letter-spacing: 2px;
    font-size: 12px;
}

.enlaces a:hover{
    color: #DCF763;
}

.fotoPerfil {
    width: 60px;
    height: auto;
    margin-left: 20px;
}
.lupa {
        width: 50px;
        height: 50px;
        cursor: pointer;
        border: none;
        background-color: transparent;
        fill: #DCF763;
}

.lupa:hover {
    fill:#F1F2EE;
}