.carousel-container {
  width: 100%;
  overflow: hidden;
}

.slick-slider {
  height: 100%;
  width: 100%;
}

img.carousel-image {
  height: 1000px;
  width: 100%;
  object-fit: fill;
  top: 0;
}

.cajaSlider {
  height: 450px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.tituloSlider {
  position: absolute;
  top: 75%;
  margin-left: 40px;
  font-family: sans-serif;
  color: #fff;
  font-size: 50px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
.slick-next {
  right: 15px;
}
.slick-prev {
  left: 15px;
  z-index: 5;
}
.slick-prev:before {
  color: #dcf763;
}
.slick-next:before {
  color: #dcf763;
}
